<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>erp-system-erp-maven-central-store</id>
            <username>aws</username>
            <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
        </server>
        <server>
            <id>erp-system-erp-erp-system-jdi</id>
            <username>aws</username>
            <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>erp-system-erp-erp-system-jdi</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>erp-system-erp-erp-system-jdi</id>
                    <url>
                        https://erp-system-erp-034358726843.d.codeartifact.us-east-1.amazonaws.com/maven/erp-system-jdi/
                    </url>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>erp-system-erp-maven-central-store</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>erp-system-erp-maven-central-store</id>
                    <url>
                        https://erp-system-erp-034358726843.d.codeartifact.us-east-1.amazonaws.com/maven/maven-central-store/
                    </url>
                </repository>
            </repositories>
        </profile>
    </profiles>

</settings>
